.login-form {
    background-color: #f2f3f4;
}

.margin-top {
    margin-top: 100px;
}

.width {
    width: 95%;
}

@media only screen and (min-width: 1600px) {
    .width {
        width: 25%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1600px) {
    .width {
        width: 40%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .width {
        width: 70%;
    }
}